* {
    box-sizing: border-box;
  }

table {
    border: 1px solid white;
    width: 100%;

}

th {
    
    background-color: forestgreen;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

tr:nth-child(odd) {
    background-color: darkgray;  
}

td:hover {
    background-color:darkkhaki;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: forestgreen;
    justify-content: center;
  }

.flex-container > div {
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 15px;
  }

  @media only screen and (max-width:600px) {
    .flex-container {
      background-color: lightblue;
      flex-direction: column;
      justify-content: center;
    }

    .flex-container > div {
        width: 100%;
    }


   
  }